.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
}

.my-masonry-grid a {
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
}

.my-masonry-grid a:hover{
    cursor: pointer;
}

.my-masonry-grid_column {
padding-left: 30px; /* gutter size */
background-clip: padding-box;
color: #fff;
text-align: center;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
background: grey;
margin-bottom: 30px;
}

.character{
width: 100%;
}

.char_name{
padding: 10px 0;
}

.btn__loadMore{
padding: 1rem 2rem;
background-color: darkslategrey;
color: #fff;
border-radius: 0.5rem;
font-size: 1.2rem;
cursor: pointer;
box-shadow: 0 0 5px 5px rgba(0,0,0, 0.5);
border: none;

}

.btn__loadMore:active{
transform: scale(1.05);
}